<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Senate Loyalty</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="colorbox.css">

</head>

<body class="bg-light" onload="myFunction()" style="margin:0;" id="bodyLoad">
    <div id="myApp">
        <div class="lds-roller" id="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="titulo">
            <div class="header">
                <div class="logo"><img src="logo.png" alt="logo" width="300" height="150"></div>
                <div class="contacto">
                    <img src="icono.png" alt="icono" width="50" height="50">
                    <a class="mail" href="mailto: 17gabri@hotmail.es">info@tgif.net</a>
                </div>
            </div>
            <div class="navbar">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="text-light" href="
                    index.html"><button type="button" class="btn btn-secondary">Home</button></a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Congress 113
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="senate.html">Senate</a>
                            <a class="dropdown-item" href="rep_house.html">House</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendance
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="attendance_senate.html">Senate</a>
                            <a class="dropdown-item" href="attendance_rep_house.html">House</a>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Party Loyalty
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="loyalty_senate.html">Senate</a>
                            <a class="dropdown-item" href="loyalty_rep_house.html">House</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="stattext">
            <div class="text">
                <h2>Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                    respectively,
                    tend to be the most faithful in voting for their party's nominee for office and legislation that
                    backs
                    their
                    party's agenda.</p>
            </div>
            <div class="tableStats">
                <h2 class="tableTitle">Senate at a Glance</h2>
                <table class="table table-hover" id="tabla">
                    <thead class="thead-dark">
                        <tr>
                            <th>Party</th>
                            <th>No. of Reps</th>
                            <th>% Voted /w Party</th>
                        </tr>
                    </thead>
                    <tbody v-if="repPct.length > 0">
                        <tr>
                            <td>Democrats</a></td>
                            <td>{{stats.dem}}</td>
                            <td>{{(totalDem / demPct.length).toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>Republicans</a></td>
                            <td>{{stats.rep}}</td>
                            <td>{{(totalRep / repPct.length).toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>Independents</a></td>
                            <td>{{stats.ind}}</td>
                            <td>{{(totalInd / indPct.length).toFixed(2)}}</td>
                        </tr>
                        <tr>
                            <td>Total</a></td>
                            <td>{{stats.dem + stats.rep + stats.ind}}</td>
                            <td>{{(((totalRep / repPct.length) + (totalDem / demPct.length) + (totalInd / indPct.length)) / 3).toFixed(2)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tablasPct">
            <div class="tablePct">
                <h2 class="pctTitle">Least Loyal (Bottom 10% of Party)</h2>
                <table class="table table-hover" id="tablaStats">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>No. Party Votes</th>
                            <th>% Party Votes</th>
                        </tr>
                    </thead>
                    <tbody id="miTablaTop">
                        <tr v-for="member in leastLoyalMembers" v-model="leastLoyalMembers">
                            <td><a :href="member.url">{{member.first_name}} {{member.middle_name}}
                                    {{member.last_name}}</a></td>
                            <td>{{member.total_votes}}</td>
                            <td>{{member.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableStats">
                <h2 class="pctTitle">Most Loyal (Top 10% of Party)</h2>
                <table class="table table-hover" id="tablaStats2">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>No. Party Votes</th>
                            <th>% Party Votes</th>
                        </tr>
                    </thead>
                    <tbody id="miTablaTop">
                        <tr v-for="member in mostLoyalMembers" v-model="mostLoyalMembers">
                            <td><a :href="member.url">{{member.first_name}} {{member.middle_name}}
                                    {{member.last_name}}</a></td>
                            <td>{{member.total_votes}}</td>
                            <td>{{member.votes_with_party_pct}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer"> &copy 2016 TGIF &#124 All Rigths Reserved

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="mainVue.js"></script>
    <script src="jquery.colorbox.js"></script>
    <script src="jquery.colorbox-min.js"></script>
</body>

</html>