@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    font-family: 'Roboto Slab', serif;
    display: hidden;
}

.titulo {
    margin-top: 50px;
}

a {
    height: 100%;
    width: 100%;
}

table {
    table-layout: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 80%;
    margin-left: 10%;
}

.contacto {
    display: flex;
    font-size: 20px;
    align-content: flex-start;
    margin-top: 35px;
    padding-top: 20px;
}

.mail {
    padding-top: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgba(71, 67, 67, 0.808);
    margin-left: 10%;
}

.button {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}


.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton:hover {
    background-color: rgba(128, 128, 128, 0.938);
    text-decoration: none;
}

.maintext {
    display: flex;
    width: 60%;
    margin-left: 10%;
    margin-top: 30px;
    flex-direction: column;
}

.stattext {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    border-bottom: solid 1px black;
}

.tablasPct {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.text {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-right: 30px;
}

.tableStats {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.tablePct {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-right: 30px;
}

.tabla {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
}

.tablaStats {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
}


td {
    text-align: center;
}

th {
    text-align: center;
    width: 110px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(71, 67, 67, 0.774);
    margin-left: 10%;
    height: 60px;
    margin-top: 50px;
    color: white;


}

button {
    color: white;
}

.main {
    display: flex;
    widows: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.accordion {
    width: 60%;
}

.imagen {
    margin-left: 50px;
}

.dropdown-item:hover {
    background-color: grey;
    color: white;
}

a:hover {
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}

.filters {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    margin-top: 30px;
}

.accordionTable {
    display: flex;
    margin-left: 10%;
    width: 100%;
}

.card {
    width: 80%;
}

.card-header {
    background-color: black;
}

.btn {
    color: white;
}

.btn:hover {
    color: white;
}

.paginate_button {
    padding-right: 10px;
}

.ellipsis {
    padding-right: 10px;
}

.paginate_button:hover {
    cursor: pointer;
}

.ellipsis:hover {
    cursor: pointer;
}

.sorting_asc:hover {
    cursor: pointer;
}

.sorting:hover {
    cursor: pointer;
}

.current {
    color: red
}

.cb {
    margin-left: 5px;
}

.tableTitle {
    text-align: end;
    font-size: 25px;
}

.pctTitle {
    font-size: 20px;
}

.logo {
    padding-bottom: 30px;
}

th {
    cursor: pointer;
    border: solid 1px black;
}

.headerSortDown:after,
.headerSortUp:after {
    content: ' ';
    position: relative;
    left: 10px;
    border: 8px solid transparent;
}

.headerSortDown:after {
    top: 15px;
    border-top-color: silver;
}

.headerSortUp:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
    padding-right: 10px;
}

.pagination {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

.pagbutton {
    color: blue;
    margin: 10px;
}




#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background: url(loading.gif) center no-repeat #fff;
}